extends layout/index

block contenido
    main.container.mt-5
        h1.text-center-mt-5.text-center #{titulo}

        blockquote.text-center.mb-5
            p
                | Lee sobre nuestros clientes y sus experiencias
        .row.testimonios
            each testimonio in testimonios
                .col-md-6.col-lg-4.mb-4
                    .card.shadow-lg.border-light
                        .card-body
                            blockquote.blockquote
                                p.mb-0.text-center
                                    | "#{testimonio.mensaje}"
                            footer.blockquote-footer.text-right
                                | - #{testimonio.nombre}
        .row
        .row
            .col-md-12
                h2.d-block.w-100.text-center Agrega un Comentario

                if (errores)
                    each error in errores
                        .alert.col.alert-danger.text-center=error

            .row.justify-content-center.col
                .col-md-8
                    form(action="/testimonios" method="POST")
                        .form-group
                            label(for="nombre") Nombre
                            input#nombre(type="text", placeholder="Tu Nombre", name="nombre", class="form-control", value=nombre)
                        .form-group
                            label(for="correoelectronico") Correo Electrónico
                            input#correoelectronico(type="email", placeholder="Correo Electrónico", name="correoelectronico", class="form-control", value=correoelectronico)
                        .form-group
                            label(for="mensaje") Mensaje
                            textarea#mensaje(placeholder="Mensaje", name="mensaje", class="form-control", rows="5")= mensaje
                        input.btn.btn-success.btn-block(type="submit", value="Enviar Testimonio")